<%- include('header') -%>



<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> Customer_No</th>
        <th scope="col">Customer_Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col"> Date</th>
        <th scope="col">Bike</th>
        <th scope="col"> Description</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(data => { %>
            <tr>
                
                <td><%= data.Customer_No %></td>
                <td><%= data.Customer_Name %></td>
                <td><%= data.Address %></td>
                <td><%= data.Email %></td>
                <td><%= data.Date %></td>
                <td><%= data.Bike %></td>
                <td><%= data.Description %></td>
                
              </tr>
      <%  }) %>
     
  </table>

<%- include('footer') -%>